.vscode/*
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
.idea
dist
build
debug.log

jupyterlab_tensorboard_pro/labextension
jupyterlab_tensorboard_pro/__pycache__